@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 28px 0;
  background-color: $bgColor;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-top: -15px;
}

.menu__list {
  display: flex;
  gap: 0 28px;
  &-link {
    font-weight: 700;
    color: #fcfcfc;
  }
  &-link:hover {
    color: $yellow;
  }
}

.header__btn {
  border: none;
  background-color: $yellow;
  color: #000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 12px;
  min-width: 152px;
  border-radius: 10px;
  cursor: pointer;
  .btn__arrow {
    margin-left: 8px;
  }
  &:hover {
    background-color: $green;
  }
  &:focus {
    color: #fcfcfc;
  }
  &:focus path {
    fill: #fcfcfc;
  }
  &:disabled {
    background-color: $disabled;
    cursor: default;
  }
}

// OFFER SECTION

.offer {
  background-color: $bgColor;
  background-image: url("../images/dots-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom;
  .container {
    position: relative;
  }
}

.offer__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.offer__title {
  max-width: 367px;
  .title {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-bottom: 28px;
  }
}
.products-link {
  display: inline-block;
  padding: 12px 10px;
  min-width: 134px;
  text-align: center;
  color: $black;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  margin-right: 34px;
  &:hover {
    border-color: $green;
  }
  &:focus {
    color: #fcfcfc;
  }
  &:disabled {
    border-color: $disabled;
  }
}
.made-link {
  color: $yellow;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  &:hover {
    color: $green;
  }
  &:focus {
    color: #fcfcfc;
  }
  &:disabled {
    color: $disabled;
  }
}

.offer__statistic {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  b {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black;
  }
  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #fcfcfc;
    text-transform: lowercase;
    display: block;
    margin-top: 4px;
  }
}
.offer__bottom {
  margin-top: 42px;
  padding-bottom: 65px;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.offer__text {
  max-width: 225px;
  p {
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
  }
  a {
    display: block;
    margin-top: 24px;
  }
}
.desktop-bg {
  position: absolute;
  right: 110px;
  bottom: 0;
}

// PRODUCTS SECTION

.products {
  padding: 60px 0;
  background-image: url("../images/product-bg-desktop.png");
}

.products__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: $black;
}

.products__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  color: $black;
  margin-bottom: 12px;
}

.products__items {
  display: flex;
  justify-content: space-between;
  margin-top: 303px;
}

.product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  min-height: 536px;
  padding: 0 34px 60px;
  border-radius: 24px;
  .product__title {
    margin: 30px 0 66px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
.product__item:first-child {
  background-color: #aec6a5;
  .product__wrapper-img {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
  }
}
.product__item:nth-child(2) {
  background-color: #efd478;
  .product__wrapper-img {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  }
}
.product__item:last-child {
  background-color: #d6936d;
  .product__wrapper-img {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }
}

.product__wrapper-img {
  margin-top: -170px;
  border-radius: 50%;
  img {
    transform: translateY(-15px);
  }
}
.product__description {
  text-align: center;
  flex-grow: 1;
}

// ABOUT SECTION

.about {
  background-color: $bgColor;
  padding: 60px 0 178px;
  &__title {
    font-family: "Seymour One";
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fcfcfc;
    margin: 12px 0 82px;
  }
  &__subtitle {
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  &__wrapper-img {
    background-color: #f8d24eb2;
    max-width: 490px;
    border-radius: 50%;
  }
  &__img {
    transform: translateY(40px);
  }
}

.about__content {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.about__description {
  max-width: 463px;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.04em;
  margin-left: 109px;
}

.about__text:not(:first-child) {
  font-size: 14px;
  line-height: 194%;
  margin-top: 8px;
}

.about__btn {
  background-color: $yellow;
  border-radius: 10px;
  padding: 12px 10px;
  min-width: 164px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-top: 54px;
  .btn__arrow {
    margin-left: 8px;
  }
  &:hover {
    background-color: $green;
  }
  &:focus {
    color: #fcfcfc;
  }
  &:disabled {
    background-color: $disabled;
  }
  &:focus path {
    fill: #fcfcfc;
  }
}

.about__items {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 32px 10px;
}
.about__item {
  text-align: center;
  max-width: 368px;
  img {
    background-color: $yellow;
    border-radius: 50%;
    padding: 7px;
    margin: 0 auto;
  }
  b {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    margin: 40px 0 12px;
    display: block;
  }
  p {
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fcfcfc;
  }
}
